
/* ::::: null ::::: */

body { margin: 0pt; padding: 0pt; }

/* ::::: null ::::: */

div, ul, li { margin: 0px; padding: 0px; }
#abgc { height: 15px; left: 317px; overflow: hidden; position: absolute; top: 0pt; width: 77px; z-index: 9010; }
#abgb { position: absolute; left: 0pt; margin: 0pt; }
#abgs { margin: 0pt; position: absolute; left: 0px; overflow: hidden; display: none; }
