
/* ::::: null ::::: */

p { font-size: 12px; font-family: Verdana; }
td { font-size: 12px; font-family: Verdana; }
select { font-family: Verdana; font-size: 9px; }
option { font-family: Verdana; font-size: 9px; }
input { font-family: Verdana; font-size: 9px; }
body { font-family: Verdana; font-size: 11px; }
div { font-family: Verdana; font-size: 11px; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }

/* ::::: null ::::: */

a { text-decoration: none; }
a:hover { text-decoration: underline; }
div { font-family: Verdana; font-size: 12px; }
p { font-family: Verdana; font-size: 12px; }
td { font-family: Verdana; font-size: 12px; }
