<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.lockedInPlace</key>
	<false/>
	<key>MainWindowShowsFormatBar</key>
	<true/>
	<key>QRPanelSettings</key>
	<dict>
		<key>21</key>
		<dict>
			<key>BinderID</key>
			<integer>21</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>ShowsFormatBar</key>
			<false/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 272}, {473, 164}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>textScale</key>
				<integer>100</integer>
			</dict>
			<key>WindowFrame</key>
			<string>878 191 475 519 0 0 1366 746 </string>
		</dict>
		<key>47</key>
		<dict>
			<key>BinderID</key>
			<integer>47</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 273}, {475, 163}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>textScale</key>
				<integer>100</integer>
			</dict>
			<key>WindowFrame</key>
			<string>1042 692 475 522 0 0 2560 1418 </string>
		</dict>
	</dict>
	<key>QuickRefFloatBehavior</key>
	<integer>2</integer>
	<key>SCRSelectedCompileOptionsInfoSaveName</key>
	<dict>
		<key>Tag</key>
		<integer>0</integer>
		<key>Title</key>
		<string>Custom</string>
	</dict>
	<key>ScrivenerLinkDestinationGroupID</key>
	<integer>29</integer>
	<key>binderSelection</key>
	<array>
		<integer>3</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {274, 774}}</string>
		<string>{{275, 0}, {838, 774}}</string>
	</array>
	<key>binderState</key>
	<array>
		<integer>0</integer>
		<integer>10</integer>
		<integer>26</integer>
		<integer>11</integer>
		<integer>18</integer>
		<integer>29</integer>
		<integer>48</integer>
		<integer>1</integer>
		<integer>64</integer>
	</array>
	<key>closedSuccessfully</key>
	<true/>
	<key>collectionSelectionAutosaveName</key>
	<array/>
	<key>collectionsHeight</key>
	<real>101</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsSplitFrames</key>
	<array>
		<string>{{0, 0}, {274, 101}}</string>
		<string>{{0, 102}, {274, 509}}</string>
	</array>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>continuousSpellChecking</key>
	<false/>
	<key>corkboardShowLabels</key>
	<true/>
	<key>corkboardsShowCardNumbers</key>
	<false/>
	<key>defaultCardSpacing</key>
	<real>214.89898681640625</real>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {694, 252}}</string>
		<string>{{0, 262}, {694, 253}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenBackgroundFade</key>
	<real>0.89999997615814209</real>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperPosition</key>
	<integer>0</integer>
	<key>fullScreenPaperWidth</key>
	<integer>600</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>lineNumberingInterval</key>
		<integer>0</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textScale</key>
		<integer>100</integer>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<true/>
	</dict>
	<key>indexCardsAcross</key>
	<integer>2</integer>
	<key>inspectorIsCollapsed</key>
	<true/>
	<key>inspectorNotesMode</key>
	<integer>0</integer>
	<key>inspectorReferencesColumns</key>
	<dict>
		<key>order</key>
		<array>
			<string>ICON</string>
			<string>DESCRIPTION</string>
			<string>URL</string>
		</array>
		<key>widths</key>
		<dict>
			<key>DESCRIPTION</key>
			<real>87</real>
			<key>ICON</key>
			<real>16</real>
			<key>URL</key>
			<real>115.4423828125</real>
		</dict>
	</dict>
	<key>inspectorSelectedDataTab</key>
	<integer>3</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {480, 608}}</string>
		<string>{{481, 0}, {227, 608}}</string>
	</array>
	<key>inspectorSynopsisIsCollapsed</key>
	<false/>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>lastDocumentSplitType</key>
	<integer>0</integer>
	<key>mainDocumentEditor.QTBackTrack</key>
	<true/>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<integer>4</integer>
	</array>
	<key>mainDocumentEditor.corkboardVisible</key>
	<false/>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.lockedInPlace</key>
	<false/>
	<key>mainDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>mainDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>0</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>4</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>mainDocumentEditor.outlinerVisible</key>
	<false/>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 505.60001}, {658.40002, 561.40002}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{3159, 1}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>showsLineNumbers</key>
		<false/>
		<key>textScale</key>
		<integer>125</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>mainDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>mainWindowFrame</key>
	<string>43 182 1113 796 0 0 1600 978 </string>
	<key>metaDataModeAutosaveName</key>
	<integer>0</integer>
	<key>projectStatsSheet</key>
	<dict>
		<key>countDraftFootnotes</key>
		<true/>
		<key>currentCompileGroupOnly</key>
		<false/>
		<key>excludeAnnots</key>
		<false/>
		<key>excludeFN</key>
		<false/>
		<key>includeSubdocs</key>
		<true/>
		<key>options</key>
		<integer>0</integer>
		<key>paperbackCountUsesChars</key>
		<false/>
		<key>wordsOrCharsPerPaperbackPage</key>
		<integer>350</integer>
	</dict>
	<key>revisionMode</key>
	<integer>0</integer>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
			<string>LABEL</string>
			<string>STATUS</string>
		</array>
		<key>widths</key>
		<dict>
			<key>LABEL</key>
			<real>47</real>
			<key>STATUS</key>
			<real>55.66162109375</real>
			<key>TITLE</key>
			<real>228</real>
		</dict>
	</dict>
	<key>selectedCollectionTabIndex</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array/>
	<key>supportingDocumentEditor.corkboardVisible</key>
	<false/>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>supportingDocumentEditor.lockedInPlace</key>
	<false/>
	<key>supportingDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>supportingDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>0</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>36</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>supportingDocumentEditor.outlinerColumnsState</key>
	<dict>
		<key>order</key>
		<array>
			<string>title</string>
			<string>label</string>
			<string>status</string>
			<string>createdDate</string>
			<string>modifiedDate</string>
			<string>words</string>
			<string>characters</string>
			<string>includeInExport</string>
			<string>pageBreakBefore</string>
			<string>compileAsIs</string>
			<string>targetCount</string>
			<string>targetCountType</string>
			<string>progress</string>
			<string>totalWords</string>
			<string>totalCharacters</string>
			<string>allKeywords</string>
			<string>totalTargetCount</string>
			<string>totalProgress</string>
		</array>
		<key>widths</key>
		<dict>
			<key>allKeywords</key>
			<real>64</real>
			<key>characters</key>
			<real>46</real>
			<key>compileAsIs</key>
			<real>110.841796875</real>
			<key>createdDate</key>
			<real>90</real>
			<key>includeInExport</key>
			<real>20</real>
			<key>label</key>
			<real>56</real>
			<key>modifiedDate</key>
			<real>50</real>
			<key>pageBreakBefore</key>
			<real>66</real>
			<key>progress</key>
			<real>50.041019439697266</real>
			<key>status</key>
			<real>109</real>
			<key>targetCount</key>
			<real>50</real>
			<key>targetCountType</key>
			<real>50</real>
			<key>title</key>
			<real>252</real>
			<key>totalCharacters</key>
			<real>96</real>
			<key>totalProgress</key>
			<real>64</real>
			<key>totalTargetCount</key>
			<real>64</real>
			<key>totalWords</key>
			<real>72</real>
			<key>words</key>
			<real>40</real>
		</dict>
	</dict>
	<key>supportingDocumentEditor.outlinerState</key>
	<array/>
	<key>supportingDocumentEditor.outlinerVisible</key>
	<false/>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 304}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>textScale</key>
		<integer>100</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>supportingDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
	<key>tintIndexCardsWithLabelColor</key>
	<false/>
</dict>
</plist>
